html {
  font-size: 62.5%;
  min-width: 1260px;
  overflow: auto;
}

body {
  min-width: 1260px;
  margin: 0;
  color: #333;
  line-height: 2.2;
  overflow: hidden;
}

header .small_link {
  width: 100%;
  height: 3rem;
  position: relative;
  clear: both;
  content: "";
}
header .small_link a {
  color: #333;
  position: absolute;
  right: 3rem;
  top: 1rem;
  font-size: 1.3rem;
}
header .small_link a img {
  padding-right: 0.5rem;
}
header .header_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  padding: 0 3rem 2.5rem;
}
header .header_nav .baika_logo {
  position: relative;
  top: -1rem;
}
header .header_nav .baika_logo img,
header .header_nav .baika_logo a {
  float: left;
  background-size: cover;
}
header .header_nav .baika_logo .baikaLogo_2 {
  position: absolute;
  top: 1.5rem;
  right: -18rem;
}
@media all and (max-width: 1430px) {
  header .header_nav .baika_logo {
    width: 185px;
  }
  header .header_nav .baika_logo .baikaLogo_2 {
    display: none;
  }
}
header .header_nav nav ul {
  list-style: none;
}
header .header_nav nav ul .gnav {
  float: left;
  height: 55px;
}
header .header_nav nav ul .gnav a {
  position: relative;
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: url("../images/gnav.png");
  text-decoration: none;
}
header .header_nav nav ul .gnav a::after {
  content: "";
  display: block;
  position: absolute;
  width: calc(100% - 30px);
  height: 3px;
  left: 50%;
  bottom: 0;
  opacity: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #fe6a90;
}
header .header_nav nav ul .gnav a:hover:after {
  opacity: 1;
}
header .header_nav nav ul #gnav01 {
  width: 108px;
}
header .header_nav nav ul #gnav01 a:hover {
  background-position: 0 -56px;
}
header .header_nav nav ul #gnav02 {
  width: 108px;
}
header .header_nav nav ul #gnav02 a {
  background-position: -108px 0;
}
header .header_nav nav ul #gnav02 a:hover {
  background-position: -108px -56px;
}
header .header_nav nav ul #gnav03 {
  width: 220px;
}
header .header_nav nav ul #gnav03 a {
  background-position: -216px 0;
}
header .header_nav nav ul #gnav03 a:hover {
  background-position: -216px -56px;
}
header .header_nav nav ul #gnav04 {
  width: 104px;
}
header .header_nav nav ul #gnav04 a {
  background-position: -436px 0;
}
header .header_nav nav ul #gnav04 a:hover {
  background-position: -436px -56px;
}
header .header_nav nav ul #gnav05 {
  width: 220px;
}
header .header_nav nav ul #gnav05 a {
  background-position: -540px 0;
}
header .header_nav nav ul #gnav05 a:hover {
  background-position: -540px -56px;
}
@media all and (max-width: 1430px) {
  header .header_nav nav ul #gnav01,
header .header_nav nav ul #gnav02 {
    width: 98px;
  }
  header .header_nav nav ul #gnav03,
header .header_nav nav ul #gnav05 {
    width: 210px;
  }
  header .header_nav nav ul #gnav04 {
    width: 94px;
  }
}
header .header_nav nav ul #gnav06,
header .header_nav nav ul #gnav07 {
  width: 180px;
  text-align: center;
}
@media all and (max-width: 1610px) {
  header .header_nav nav ul #gnav06,
header .header_nav nav ul #gnav07 {
    width: 130px;
  }
}
header .header_nav nav ul #gnav06 {
  margin-right: 0.5rem;
}
header .header_nav nav ul #gnav06 a {
  background: #ff829f url("../images/hd_btn_contact.png") no-repeat 50% 50%;
}
header .header_nav nav ul #gnav07 a {
  background: #f64077 url("../images/hd_btn_request.png") no-repeat 50% 50%;
}
header .img_top {
  height: 470px;
}
header .img_top .upper_layer {
  width: 100%;
  position: relative;
  background: url("../images/pc/fv_bg_pc.jpg");
  background-size: cover;
  height: 100%;
  content: "";
}
header .img_top .upper_layer .upLayer_rela {
  position: relative;
  margin: 0 auto;
  width: 1200px;
  height: 100%;
}
header .img_top .upper_layer .upLayer_rela .magazine {
  position: absolute;
  top: 10rem;
  right: 25rem;
}
header .img_top .upper_layer .upLayer_rela .umehana {
  position: absolute;
  bottom: -12rem;
  right: 0;
}
header .img_top .post_layer {
  width: 100%;
  height: 470px;
}
header .img_top .post_layer .upLayer_rela {
  position: relative;
  margin: 0 auto;
  width: 1200px;
  height: 100%;
}
header .img_top .post_layer .upLayer_rela .pink_box {
  margin-top: 8rem;
}
header .img_top .post_layer .upLayer_rela .event_2022 {
  width: 300px;
  height: 186px;
  margin: 0 auto;
  position: relative;
}
header .img_top .post_layer .upLayer_rela .event_2022 span {
  position: absolute;
  display: block;
}
header .img_top .post_layer .upLayer_rela .event_2022 span:nth-of-type(1) {
  left: 0;
}
header .img_top .post_layer .upLayer_rela .event_2022 span:nth-of-type(1) img {
  height: 50px;
}
header .img_top .post_layer .upLayer_rela .event_2022 span:nth-of-type(2) {
  left: 7.5rem;
  top: 5.2rem;
}
header .img_top .post_layer .upLayer_rela .event_2022 span:nth-of-type(2) img {
  height: 80px;
}
header .img_top .post_layer .upLayer_rela .event_2022 span:nth-of-type(3) {
  left: 1.5rem;
  top: 11.3rem;
}
header .img_top .post_layer .upLayer_rela .event_2022 span:nth-of-type(3) img {
  height: 80px;
}

main {
  padding: 0;
  margin: 10rem 0 0;
}
main h2 {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}
main section {
  position: relative;
  margin: 7rem 0 0;
  display: block;
  height: 600px;
}
main section .sub_sec {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
main section .sub_sec .img_stn {
  position: relative;
  float: left;
}
main section .sub_sec .side_stn {
  position: relative;
  float: left;
  height: 100%;
}
main section .sub_sec .side_stn article {
  position: relative;
  border: 1px dashed #333;
  padding: 2rem 3rem;
  text-align: center;
}
main section .sub_sec .side_stn article h4 .five_point {
  margin-bottom: 1.5rem;
}
main section .sub_sec .side_stn article p {
  font-size: 1.3rem;
  text-align: center;
}
main section .sub_sec .post_list {
  display: table;
  width: 100%;
  padding-left: 0;
}
main section .sub_sec .post_list li {
  display: table-cell;
  float: left;
  width: 45%;
  padding: 15px 0 15px 30px;
  border-bottom: 1px dotted #666;
  position: relative;
}
main section .sub_sec .post_list li:nth-child(2n+1) {
  clear: both;
  margin-right: 5.5rem;
}
main section .sub_sec .post_list li::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 30px;
  height: 30px;
  background: url("../images/ico_arw_r.png");
  background-repeat: no-repeat;
  background-size: 75%;
  top: 2rem;
  left: 0rem;
}
main section .sub_sec .post_list li a {
  text-decoration: none;
  color: #333;
  font-size: 1.5rem;
  background-repeat: no-repeat;
}
main section .sub_sec .cat_h3 {
  font-size: 24px;
}
main .section_1::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 50%;
  height: 152px;
  background: url("../images/pc/bakai_line_pc.png");
  background-repeat: repeat-x 0 0;
  bottom: -4.5rem;
  left: 50%;
  z-index: 2;
  margin-left: 42rem;
}
main .section_1 .sub_sec::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 133px;
  height: 133px;
  background: url("../images/pc/bakai_number01_pc.png");
  background-repeat: no-repeat;
  background-size: cover;
  top: -3rem;
  left: 49.5%;
}
main .section_1 .sub_sec .img_stn::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 105px;
  height: 244px;
  background: url("../images/pc/bakai_leg01_pc.png");
  background-repeat: no-repeat;
  bottom: -10rem;
  left: 2.5rem;
}
main .section_1 .sub_sec .side_stn::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 216px;
  height: 102px;
  background: url("../images/pc/garden_herewego_pc.png");
  background-repeat: no-repeat;
  left: 2.5rem;
  bottom: 4.5rem;
  z-index: 3;
}
main .section_1 .sub_sec .side_stn .garden_h {
  padding-top: 6rem;
  padding-left: 7rem;
}
main .section_1 .sub_sec .side_stn article {
  margin-left: 9rem;
  margin-top: 3.5rem;
  margin-right: 4.5rem;
}
main .section_1 .sub_sec .side_stn article::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 40px;
  height: 56px;
  background: url("../images/pc/garden_flower_pc.png");
  background-repeat: no-repeat;
  top: -3rem;
  left: -3rem;
  z-index: 3;
}
main .section_1 .sub_sec .side_stn article::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 115px;
  height: 213px;
  background: url("../images/pc/bakai_dog01_pc.png");
  background-repeat: no-repeat;
  top: 18.5rem;
  right: -8rem;
  z-index: 3;
}
main .section_2::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 50%;
  height: 152px;
  background: url("../images/pc/bakai_line_pc.png");
  background-repeat: repeat-x 0 0;
  bottom: -3rem;
  right: 50%;
  z-index: 2;
  margin-right: 42rem;
}
main .section_2 .sub_sec {
  top: -3rem;
}
main .section_2 .sub_sec::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 133px;
  height: 133px;
  background: url("../images/pc/bakai_number02_pc.png");
  background-repeat: no-repeat;
  left: 41.5%;
  top: -2rem;
  z-index: 3;
}
main .section_2 .sub_sec .img_stn {
  padding-left: 5rem;
}
main .section_2 .sub_sec .img_stn::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 102px;
  height: 235px;
  background: url("../images/pc/bakai_leg02_pc.png");
  background-repeat: no-repeat;
  bottom: -10rem;
  right: 7.5rem;
}
main .section_2 .sub_sec .img_stn img {
  padding-top: 4rem;
}
main .section_2 .sub_sec .side_stn::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 322px;
  height: 103px;
  background: url("../images/pc/facility_enjoy_pc.png");
  background-repeat: no-repeat;
  right: -3rem;
  bottom: -3rem;
  z-index: 3;
}
main .section_2 .sub_sec .side_stn .campus_h {
  padding-left: 7rem;
  margin-bottom: 3rem;
}
main .section_2 .sub_sec .side_stn article::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 53px;
  height: 44px;
  background: url("../images/pc/facility_flower_pc.png");
  background-repeat: no-repeat;
  top: -2.5rem;
  left: -2.5rem;
  z-index: 3;
}
main .section_2 .sub_sec .side_stn article::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 115px;
  height: 213px;
  background: url("../images/pc/bakai_dog02_pc.png");
  background-repeat: no-repeat;
  top: 18rem;
  left: -5rem;
  z-index: 3;
}
main .section_3 {
  margin-top: 11rem;
}
main .section_3::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 50%;
  height: 152px;
  background: url("../images/pc/bakai_line_pc.png");
  background-repeat: repeat-x 0 0;
  bottom: 2rem;
  left: 50%;
  z-index: 2;
  margin-left: 42rem;
}
main .section_3 .sub_sec::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 133px;
  height: 133px;
  background: url("../images/pc/bakai_number03_pc.png");
  background-repeat: no-repeat;
  left: 10%;
  top: -1.5rem;
  z-index: 3;
}
main .section_3 .sub_sec .img_stn {
  top: 4rem;
  left: -6rem;
}
main .section_3 .sub_sec .img_stn::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 226px;
  height: 90px;
  background: url("../images/pc/cafeteria_cat_pc.png");
  background-repeat: no-repeat;
  top: 0rem;
  right: -6rem;
}
main .section_3 .sub_sec .img_stn::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 108px;
  height: 171px;
  background: url("../images/pc/bakai_leg03_pc.png");
  background-repeat: no-repeat;
  bottom: -18rem;
  left: 11rem;
}
main .section_3 .sub_sec .side_stn {
  text-align: center;
}
main .section_3 .sub_sec .side_stn .cafe_h {
  margin-bottom: 3rem;
}
main .section_3 .sub_sec .side_stn article::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 39px;
  height: 111px;
  background: url("../images/pc/cafeteria_flower_pc.png");
  background-repeat: no-repeat;
  top: -8.5rem;
  right: 2rem;
  z-index: 3;
}
main .section_3 .sub_sec .side_stn article::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 115px;
  height: 213px;
  background: url("../images/pc/bakai_dog04_pc.png");
  background-repeat: no-repeat;
  top: 15.5rem;
  right: -7rem;
  z-index: 3;
}
main .section_4 {
  margin-top: 8rem;
  height: 700px;
}
main .section_4::after {
  content: "";
  display: block;
  clear: both;
}
main .section_4::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 50%;
  height: 152px;
  background: url("../images/pc/bakai_line_pc.png");
  background-repeat: repeat-x 0 0;
  bottom: -14rem;
  right: 50%;
  z-index: 1;
  margin-right: 40rem;
}
main .section_4 .sub_sec {
  text-align: center;
}
main .section_4 .sub_sec::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 133px;
  height: 133px;
  background: url("../images/pc/bakai_number04_pc.png");
  background-repeat: no-repeat;
  left: 45%;
  top: -13.5rem;
  z-index: 3;
}
main .section_4 .sub_sec p {
  font-size: 1.3rem;
  margin-bottom: 4rem;
}
main .section_4 .sub_sec .img_stn {
  width: 100%;
  position: relative;
}
main .section_4 .sub_sec .img_stn::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 170px;
  height: 77px;
  background: url("../images/pc/library_library_pc.png");
  background-repeat: no-repeat;
  bottom: -4.3rem;
  right: 12rem;
}
main .section_4 .sub_sec .img_stn article {
  position: absolute;
  border: 1px dashed #333;
  padding: 3rem;
  text-align: center;
  background: #fff;
  bottom: -11.5rem;
  left: 8rem;
  z-index: 2;
}
main .section_4 .sub_sec .img_stn article::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 115px;
  height: 213px;
  background: url("../images/pc/bakai_dog03_pc.png");
  background-repeat: no-repeat;
  top: -4.5rem;
  left: -9.5rem;
  z-index: 3;
}
main .section_4 .sub_sec .img_stn article::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 62px;
  height: 42px;
  background: url("../images/pc/library_flower_pc.png");
  background-repeat: no-repeat;
  bottom: -1.4rem;
  right: -2.7rem;
  z-index: 3;
}
main .section_4 .sub_sec .img_stn article h4 .five_point {
  margin-bottom: 1.5rem;
}
main .section_4 .sub_sec .img_stn article p {
  font-size: 1.3rem;
  margin-bottom: 0;
}
main .two_block {
  margin-top: 15.5rem;
}
main .two_block div {
  width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
}
main .two_block div img:nth-of-type(2) {
  padding-left: 1.7rem;
}
main .baika_event {
  margin-top: 13rem;
  padding-top: 10rem;
  content: "";
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  background: url("../images/pattern02.jpg");
  padding-bottom: 10rem;
}
main .baika_event::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 130px;
  background: url("../images/../images/fillter.jpg");
  background-repeat: no-repeat;
  position: absolute;
  top: -10rem;
  background-size: cover;
}
main .baika_event .event_sec {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  background: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
main .baika_event .event_sec::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 1200px;
  height: 10px;
  background: url("../images/../images/fillter_top.png");
  background-repeat: no-repeat;
  top: -0.7rem;
}
main .baika_event .event_sec::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 1200px;
  height: 10px;
  background: url("../images/../images/fillter_bottom.png");
  background-repeat: no-repeat;
  bottom: -0.7rem;
}
main .baika_event .event_sec article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  padding: 5rem 6rem;
  border-bottom: 1px dotted #888;
}
main .baika_event .event_sec article div:nth-of-type(1) {
  padding-right: 5rem;
}
main .baika_event .event_sec article div p {
  line-height: 2.6;
  font-size: 1.3rem;
}
main .baika_event .event_sec .maner_area {
  display: block;
}
main .baika_event .event_sec .maner_area .maner_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  padding-right: 0;
  margin-bottom: 3rem;
}
main .baika_event .event_sec .maner_area .maner_head div:nth-of-type(1) {
  padding-top: 3rem;
  padding-right: 11rem;
}
main .baika_event .event_sec .maner_area .maner_head div p {
  line-height: 2.6;
  font-size: 1.3rem;
}
main .baika_event .event_sec .maner_area .maner_event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  border-bottom: none;
}
main .baika_event .event_sec .maner_area .maner_event .maner_box {
  background: #fff5f6;
  padding-right: 0;
  width: 328px;
}
main .baika_event .event_sec .maner_area .maner_event .maner_box .pink {
  padding: 1.5rem 2rem;
}
main .baika_event .event_sec .maner_area .maner_event .maner_box .pink .pink_word {
  color: #f64077;
  font-weight: 700;
}
main .baika_event .event_sec .maner_area .maner_event .maner_box .pink p {
  margin: 0;
}
main .baika_event .event_sec .maner_area .bottom_P {
  width: 100%;
  margin-top: 3.2rem;
  line-height: 2.6;
  font-size: 1.3rem;
}
main .baika_event .event_sec .umehana_area {
  border-bottom: none;
}
main .baika_event .event_sec .umehana_area .dog_image {
  padding-right: 11rem;
}
main .baika_event .event_sec .umehana_area .dog_image a {
  content: "";
  background: url("../images/pc/bakai_frame_pc.png");
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1.5rem 1rem;
  margin-left: 6.5rem;
  margin-top: 2rem;
  border-bottom: 1px dashed #888;
  text-decoration: none;
  text-align: center;
}
main .baika_event .event_sec .umehana_area .dog_image a div {
  height: 100%;
  width: 100%;
}
main .baika_event .event_sec .umehana_area .dog_image a div p {
  font-size: 1.2rem;
  color: #333;
  line-height: 1.8;
}
main .baika_event .event_sec .umehana_area .intro_dog .therapy_desc {
  margin-bottom: 2rem;
}
main .baika_event .event_sec .umehana_area .intro_dog .dogs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  padding-right: 3rem;
}
main .baika_event .event_sec .umehana_area .intro_dog .dogs:nth-of-type(1) {
  margin-bottom: 2rem;
}
main .baika_event .event_sec .umehana_area .intro_dog .dogs .dog_spec {
  padding-right: 0;
}
main .baika_event .event_sec .umehana_area .intro_dog .dogs .dog_spec:nth-child(2) {
  width: 435px;
}
main .baika_event .event_sec .umehana_area .intro_dog .dogs .dog_spec p {
  padding-right: 0;
  margin-top: 0;
  font-size: 1.2rem;
  line-height: 2;
  letter-spacing: -1px;
}

footer {
  border-top: 1px dotted #333;
}
footer .footer_img {
  content: "";
  display: block;
  width: 100%;
  background: url("../images/pc/request_bg_pc.jpg");
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10rem 0;
}
footer .footer_img div {
  text-align: center;
}
footer .footer_img div .f_txt {
  margin-bottom: 8rem;
  width: 410px;
}
footer .footer_img .claim_btn {
  text-align: center;
  background: #f64077;
  padding: 4rem 9rem 3rem;
}
footer .footer_img .claim_btn img {
  width: 145px;
}
footer .footer_img .back_btn {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
footer .footer_img .back_btn .f_btn {
  position: absolute;
  right: -60rem;
  top: -8rem;
}
@media all and (max-width: 767px) {
  footer .footer_img .back_btn .f_btn {
    right: -55rem;
  }
}
footer .footer_link {
  width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 5.7rem 0;
}
footer .footer_link article {
  -webkit-box-flex: 1;
  -ms-flex: 1 1;
  -webkit-flex: 1 1;
          flex: 1 1;
  margin-right: 3rem;
}
footer .footer_link article:nth-child(1) {
  -ms-flex-preferred-size: 575px;
  -webkit-flex-basis: 575px;
          flex-basis: 575px;
}
footer .footer_link article:nth-child(2), footer .footer_link article:nth-child(3) {
  -ms-flex-preferred-size: 300px;
  -webkit-flex-basis: 300px;
          flex-basis: 300px;
}
footer .footer_link article dl {
  margin-bottom: 3rem;
}
footer .footer_link article dl dt {
  border-bottom: 1px dotted #666;
  display: block;
}
footer .footer_link article dl dt a {
  text-decoration: none;
  list-style: none;
  font-weight: 700;
  color: #333;
  font-size: 14px;
}
footer .footer_link article dl dd {
  color: #020202;
  margin: 0rem 0.5rem 0 0;
  font-size: 1.3rem;
}
footer .footer_link article dl dd::after {
  content: "";
  display: block;
  clear: both;
}
footer .footer_link article dl dd ul {
  list-style: none;
  padding-left: 0;
}
footer .footer_link article dl dd ul:nth-of-type(1) {
  float: left;
}
footer .footer_link article dl dd ul:nth-of-type(2) {
  float: right;
  width: 205px;
}
footer .footer_link article dl dd ul li a {
  text-decoration: none;
  color: #333;
}
footer .footer_link article .share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
footer .footer_link article .share .baika_ft_logo {
  -ms-flex-preferred-size: 45%;
  -webkit-flex-basis: 45%;
          flex-basis: 45%;
}
footer .footer_link article .share .baika_ft_logo img {
  width: 181px;
}
footer .footer_link article .share .sns {
  padding-top: 0.7rem;
}
footer .footer_link article .share .sns img {
  width: 48px;
  padding-right: 0.5rem;
}
footer .footer_btm {
  background: #000;
  padding: 6rem auto;
}
footer .footer_btm .btm_width {
  width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  padding: 0.7rem 0;
}
footer .footer_btm .btm_width ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
          justify-content: space-around;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 67%;
  -webkit-flex: 0 1 67%;
          flex: 0 1 67%;
  padding-left: 0;
  font-size: 13px;
}
footer .footer_btm .btm_width ul li {
  position: relative;
}
footer .footer_btm .btm_width ul li a {
  color: #fff;
  text-decoration: none;
  padding-right: 3rem;
}
footer .footer_btm .btm_width ul li:not(:last-child) a {
  border-right: 1px dotted #fff;
}
footer .footer_btm .btm_width ul li:not(:last-child) a::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 10px;
  height: 13px;
  background: url("../images/../images/blank_w.png");
  background-repeat: no-repeat;
  top: 0.5rem;
  right: 1.5rem;
}
footer .footer_btm .btm_width p {
  color: #fff;
  font-size: 13px;
}/*# sourceMappingURL=mystyle.css.map */