
// mixinでメディアクエリを管理する
$breakpoint: (
    sps: 'all and (max-width: 340px)',
    sp: 'all and (max-width: 767px)',
    tab: 'all and (max-width: 1430px)',
    pc: 'all and (max-width: 1610px)'
);

// $bpは$breakpointのそれぞれのキーを示している
// map-get関数でマップの値を取得する
@mixin mq($bp){
    @media #{map-get($breakpoint, $bp)} {
        @content;
    }
}


@mixin clearfix{
    &::after{
        content: '';
        display: block;
        clear: both
    }
}

// テーブルレイアウトで要素を横並び
@mixin table_layout($margin: 0, $width: 100%){
    display: table;
    margin: 0 auto;
    width: #{$width};
    border-collapse: collapse;
    // 「 > *{} 」直下の要素全てという意味
    > *{
        display: table-cell;
        vertical-align: middle;
        padding: 0 #{$margin / 2}px;
        &:first-child{
            padding-left: 0;
        }
        &:last-child{
            padding-right: 0;
        }
    }
}

@mixin font_pattern($size: 14px, $color: #666, $weight: 500){
    font-size: #{$size};
    color: #{$color};
    font-weight: #{$weight};
}

@mixin btn_pattern($width: 100%, $padding: 20px 30px, $background: blue, $radius: 5px){
    padding: #{$padding};
    background: #{$background};
    border-radius: #{$radius};
    text-align: center;
    width: #{$width};
}

@mixin background_url($file: '', $width: '', $height: '', $repeat: no-repeat){
    content: '';
    display: inline-block;
    position: absolute;
    width: #{$width};
    height: #{$height};
    background: url('../images/#{$file}');
    background-repeat: #{$repeat};
}


html{
    font-size: 62.5%;
    // htmlがビューポートの幅と一致するのを防ぐためwidthの幅をmax-contentに指定した
    min-width: 1260px;
    overflow:auto;
}


body{
    // bodyにmin-width指定しておくと、レスポンシブの表示でもPCの見え方と同じになる
    min-width: 1260px;
    margin: 0;
    color: #333;
    line-height: 2.2;
    overflow: hidden;
}