$layout-widht-inner: 910px;

// mixinでメディアクエリを管理する
$breakpoint: (
    sp: 'screen and (max-width: 550px)',
    tab: 'screen and (max-width: #{$layout-widht-inner - 1px})',
    pc: 'screen and (mix-width: #{$layout-widht-inner})'
);

// $bpは$breakpointのそれぞれのキーを示している
// map-get関数でマップの値を取得する
@mixin mq($bp){
    @media #{map-get($breakpoint, $bp)} {
        @content;
    }
}


@mixin clearfix{
    &::after{
        content: '';
        display: block;
        clear: both
    }
}

// テーブルレイアウトで要素を横並び
@mixin table_layout($margin: 0, $width: 100%){
    display: table;
    margin: 0 auto;
    width: #{$width};
    border-collapse: collapse;
    // 「 > *{} 」直下の要素全てという意味
    > *{
        display: table-cell;
        vertical-align: middle;
        padding: 0 #{$margin / 2}px;
        &:first-child{
            padding-left: 0;
        }
        &:last-child{
            padding-right: 0;
        }
    }
}

@mixin font_pattern($size: 14px, $color: #666, $weight: 500){
    font-size: #{$size};
    color: #{$color};
    font-weight: #{$weight};
}

@mixin btn_pattern($width: 100%, $padding: 20px 30px, $background: blue, $radius: 5px){
    padding: #{$padding};
    background: #{$background};
    border-radius: #{$radius};
    text-align: center;
    width: #{$width};
}

@mixin background_url($file: '', $width: '', $height: '', $repeat: no-repeat){
    content: '';
    display: inline-block;
    position: absolute;
    width: #{$width};
    height: #{$height};
    background: url('../images/#{$file}');
    background-repeat: #{$repeat};
}

html{
    font-size: 62.5%;
    overflow-x:hidden;
}


body{
    min-width: 1260px;
    margin: 0;
    color: #333;
    line-height: 2.2;

    header{

        a{
            width: 100%;
            text-align: right;
            color: #333;
            display: block;

            img{
                padding-right: 0.5rem;
            }
        }

        .header_nav{
            display: flex;
            justify-content: space-between;
            padding: 0 3rem 3.5rem;

            .baika_logo{
                padding: 0;

                img{
                    float: left;
                    background-size: cover;
                }

                .baikaLogo_1{
                    width: 185px;
                    height: auto;
                    padding-right: 1.5rem;
                }
                .baikaLogo_2{
                    width: auto;
                    height: 45px;
                    padding-top: 0.5rem;
                    padding-right: 2.5rem;
                }
            }

            nav{
                width: 70%;

                ul{
                    list-style: none;
                    @include table_layout(30, 100%);

                    li{
                        padding-top: 2rem;

                        a{
                            text-decoration: none;
                            @include font_pattern(1.3rem, #333, 700);
                        }
                    }
                }
            } 
        }

        .img_top{
            height: 470px;
            

            .upper_layer{
                width: 100%;
                position: relative;
                // 倍率を変える（ブラウザの「ズーム」を使用する）とbackground:url() は高さの表示が限定される
                background: url('../images/pc/fv_bg_pc.jpg');
                background-size: cover;
                height: 100%;
                content: "";

                .upLayer_rela{
                    position: relative;
                    margin: 0 auto;
                    width: 1200px;
                    height: 100%;

                    .magazine{
                        position: absolute;
                        top: 10rem;
                        right: 25rem;
                    }
                    .umehana{
                        position: absolute;
                        bottom: -12rem;
                        right: 0;
                    }
                }

            }
        }
    }

    main{
        padding: 0;
        margin: 10rem 0 0;

        h2{
            width: 1200px;
            margin: 0 auto;
            text-align: center;

        }

        section{
            position: relative;
            margin: 7rem 0 0;
            display: block;
            height: 600px;

            .sub_sec{
                width: 1200px;
                height: 100%;
                margin: 0 auto;
                position: relative;

                .img_stn{
                    position: relative;
                    float: left;
                }

                .side_stn{
                    position: relative;
                    float: left;
                    height: 100%;

                    article{
                        position: relative;
                        border: 1px dashed #333;
                        padding: 2rem 3rem;
                        text-align: center;

                        h4 .five_point{
                            margin-bottom: 1.5rem;
                           
                        }

                        p{
                            font-size: 1.3rem;
                            text-align: center;
                        }
                    }
                }

            }


        }

        .section_1{

            &::after{
                @include background_url('pc/bakai_line_pc.png', 50%, 152px, repeat-x 0 0);
                bottom: -4.5rem;
                // left:50%のところから右に向かって繰り返すという意味
                left: 50%;
                z-index: 2;
                margin-left: 42rem;
            }

            .sub_sec{

                &::before{
                    @include background_url('pc/bakai_number01_pc.png', 133px, 133px, no-repeat);
                    background-size: cover;
                    top: -3rem;
                    left: 49.5%;
                }

                .img_stn{

                    &::after{
                        @include background_url('pc/bakai_leg01_pc.png', 105px, 244px, no-repeat);
                        bottom: -10rem;
                        left: 2.5rem;
                    }
                }
                .side_stn{

                    &::after{
                        @include background_url('pc/garden_herewego_pc.png', 216px, 102px, no-repeat);
                        left: 2.5rem;
                        bottom: 4.5rem;
                        z-index: 3;
                    }

                    .garden_h{
                        padding-top: 6rem;
                        padding-left: 7rem;
                    }

                    article{
                        margin-left: 9rem;
                        margin-top: 3.5rem;
                        margin-right: 4.5rem;


                        &::before{
                            @include background_url('pc/garden_flower_pc.png', 40px, 56px, no-repeat);
                            top: -3rem;
                            left: -3rem;
                            z-index: 3;
                        }

                        &::after{
                            @include background_url('pc/bakai_dog01_pc.png', 115px, 213px, no-repeat);
                            top: 18.5rem;
                            right: -8rem;
                            z-index: 3;
                        }
                    }
                }
            }
        }

        .section_2{

            &::after{
                @include background_url('pc/bakai_line_pc.png', 50%, 152px, repeat-x 0 0);
                bottom: -3rem;
                right: 50%;
                z-index: 2;
                margin-right: 42rem;
            }


            .sub_sec{
                top: -3rem;

                &::before{
                    @include background_url('pc/bakai_number02_pc.png', 133px, 133px, no-repeat);
                    left: 41.5%;
                    top: -2rem;
                    z-index: 3;
                }

                .img_stn{
                    padding-left: 5rem;

                    &::after{
                        @include background_url('pc/bakai_leg02_pc.png', 102px, 235px, no-repeat);
                        bottom: -10rem;
                        right: 7.5rem;
                    }


                    img{
                        padding-top: 4rem;
                    }
                }
                
                .side_stn{

                    &::after{
                        @include background_url('pc/facility_enjoy_pc.png', 322px, 103px, no-repeat);
                        right: -3rem;
                        bottom: -3rem;
                        z-index: 3;
                    }

                    .campus_h{
                        padding-left: 7rem;
                        margin-bottom: 3rem;
                    }

                    article{
                        &::before{
                            @include background_url('pc/facility_flower_pc.png', 53px, 44px, no-repeat);
                            top: -2.5rem;
                            left: -2.5rem;
                            z-index: 3;
                        }

                        &::after{
                            @include background_url('pc/bakai_dog02_pc.png', 115px, 213px, no-repeat);
                            top: 18rem;
                            left: -5rem;
                            z-index: 3;
                        }
                    }
                }
            }
        }

        .section_3{
            margin-top: 11rem;

            &::after{
                @include background_url('pc/bakai_line_pc.png', 50%, 152px, repeat-x 0 0);
                bottom: 2rem;
                // left:50%のところから右に向かって繰り返すという意味
                left: 50%;
                z-index: 2;
                margin-left: 42rem;
            }

            .sub_sec{

                &::before{
                    @include background_url('pc/bakai_number03_pc.png', 133px, 133px, no-repeat);
                    left: 10%;
                    top: -1.5rem;
                    z-index: 3;
                }

                .img_stn{
                    top: 4rem;
                    left: -6rem;

                    &::before{
                        @include background_url('pc/cafeteria_cat_pc.png', 226px, 90px, no-repeat);
                        top: 0rem;
                        right: -6rem;
                    }

                    &::after{
                        @include background_url('pc/bakai_leg03_pc.png', 108px, 171px, no-repeat);
                        bottom: -18rem;
                        left: 11rem;
                    }
                }

                .side_stn{
                    text-align: center;

                    .cafe_h{
                        margin-bottom: 3rem;

                    }

                    article{
                        &::before{
                            @include background_url('pc/cafeteria_flower_pc.png', 39px, 111px, no-repeat);
                            top: -8.5rem;
                            right: 2rem;
                            z-index: 3;
                        }

                        &::after{
                            @include background_url('pc/bakai_dog04_pc.png', 115px, 213px, no-repeat);
                            top: 15.5rem;
                            right: -7rem;
                            z-index: 3;
                        }
                    }

                }
            }
        }


        .section_4{
            margin-top: 8rem;
            height: 700px;

            @include clearfix();

            &::before{
                @include background_url('pc/bakai_line_pc.png', 50%, 152px, repeat-x 0 0);
                bottom: -14rem;
                right: 50%;
                z-index: 1;
                margin-right: 40rem;
            }

            .sub_sec{
                text-align: center;

                &::before{
                    @include background_url('pc/bakai_number04_pc.png', 133px, 133px, no-repeat);
                    left: 45%;
                    top: -13.5rem;
                    z-index: 3;
                }

                p{
                    font-size: 1.3rem;
                    margin-bottom: 4rem;
                }

                .img_stn{
                    width: 100%;
                    position: relative;

                    &::after{
                        @include background_url('pc/library_library_pc.png', 170px, 77px, no-repeat);
                        bottom: -4.3rem;
                        right: 12rem;
                    }

                    article{
                        position: absolute;
                        border: 1px dashed #333;
                        padding: 3rem;
                        text-align: center;
                        background: #fff;
                        bottom: -11.5rem;
                        left: 8rem;
                        z-index: 2;

                        &::before{
                            @include background_url('pc/bakai_dog03_pc.png', 115px, 213px, no-repeat);
                            top: -4.5rem;
                            left: -9.5rem;
                            z-index: 3;
                        }

                        &::after{
                            @include background_url('pc/library_flower_pc.png', 62px, 42px, no-repeat);
                            bottom: -1.4rem;
                            right: -2.7rem;
                            z-index: 3;
                        }

                        h4 .five_point{
                            margin-bottom: 1.5rem;
                           
                        }

                        p{
                            font-size: 1.3rem;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }


        .two_block{
            margin-top: 15.5rem;

            div{
                width: 1200px;
                margin: 0 auto;
                display: flex;
                justify-content: center;

                img{
                    &:nth-of-type(2){
                        padding-left: 1.7rem;
                    }
                }
            }
            
        }

        .baika_event{
            margin-top: 13rem;
            padding-top: 10rem;
            content: '';
            display: block;
            position: relative;
            width: 100%;
            height: auto;
            background: url('../images/pattern02.jpg');
            padding-bottom: 10rem;

            &::before{
                @include background_url('../images/fillter.jpg', 100%, 130px, no-repeat);
                position: absolute;
                top: -10rem;
                background-size: cover;
            }

            .event_sec{
                position: relative;
                width: 1200px;
                margin: 0 auto;
                background: #fff;
                border-left: 1px solid #000;
                border-right: 1px solid #000;

                &::before{
                    @include background_url('../images/fillter_top.png', 1200px, 10px, no-repeat);
                    top: -0.7rem;
                }

                &::after{
                    @include background_url('../images/fillter_bottom.png', 1200px, 10px, no-repeat);
                    bottom: -0.7rem;
                }

                article{
                    display: flex;
                    justify-content: center;
                    padding: 5rem 6rem;
                    border-bottom: 1px dotted #888;

                    div{

                        &:nth-of-type(1){
                            padding-right: 5rem;
                        }

                        p{
                            line-height: 2.6;
                            font-size: 1.3rem;
                        }
                    }
                }


                .maner_area{
                    display: block;

                    .maner_head{
                        display: flex;
                        justify-content: center;
                        padding-right: 0;
                        margin-bottom: 3rem;

                        div{

                            &:nth-of-type(1){
                                padding-top: 3rem;
                                padding-right: 11rem;
                            }
    
                            p{
                                line-height: 2.6;
                                font-size: 1.3rem;
                            }
                        }
                    }

                    .maner_event{
                        // space-betweenは両端を幅いっぱいまで埋めることができる
                        display: flex;
                        justify-content: space-between;
                        border-bottom: none;

                        .maner_box{
                            background: #fff5f6;
                            padding-right: 0;
                            width: 328px;

                            .pink{
                                padding: 1.5rem 2rem;

                                .pink_word{
                                    color: #f64077;
                                    font-weight: 700;
                                }

                                p{
                                    margin: 0;
                                }
                            }

                        }
                    }

                    .bottom_P{
                        width: 100%;
                        margin-top: 3.2rem;
                        line-height: 2.6;
                        font-size: 1.3rem;
                    }
                }

                .umehana_area{
                    border-bottom: none;

                    .dog_image{
                        padding-right: 11rem;

                        a{
                            content: '';
                            background: url('../images/pc/bakai_frame_pc.png');
                            display: block;
                            background-size: cover;
                            background-repeat: no-repeat;
                            padding: 1.5rem 1rem;
                            margin-left: 6.5rem;
                            margin-top: 2rem;
                            border-bottom: 1px dashed #888;
                            text-decoration: none;
                            text-align: center;

                            div{
                                height: 100%;
                                width: 100%;

                                p{
                                    font-size: 1.2rem;
                                    color: #333;
                                    line-height: 1.8;
                                }
                            }
                        }
                    }

                    .intro_dog{

                        .therapy_desc{
                            margin-bottom: 2rem;
                        }

                        .dogs{
                            display: flex;
                            justify-content: space-between;
                            padding-right: 3rem;
                            align-items: end;

                            &:nth-of-type(1){
                                margin-bottom: 2rem;
                            }

                            .dog_spec{
                                padding-right: 0;

                                &:nth-child(2){
                                    width: 435px;
                                }

                                p{
                                    padding-right: 0;
                                    margin-top: 0;
                                    font-size: 1.2rem;
                                    line-height: 2;
                                    letter-spacing: -1px;
                                }
                            }
                        }
                    }
                }
               
            }
        }

    }


    footer{
        border-top: 1px dotted #333;

        .footer_img{
            content: '';
            display: block;
            // position: relative;
            width: 100%;
            background: url('../images/pc/request_bg_pc.jpg');
            text-align: center;
            background-size: cover;
            background-repeat: no-repeat;
            padding: 10rem 0;

            div{
                text-align: center;

                .f_txt{
                    margin-bottom: 8rem;
                    width: 410px;
                }
            }

            .claim_btn{
                text-align: center;
                background: #f64077;
                padding: 4rem 9rem 3rem;

                img{
                    width: 145px;
                }
            }

            .back_btn{
                width: 1200px;
                margin: 0 auto;
                position: relative;

                .f_btn{
                    position: absolute;
                    right: -50rem;
                    top: -8rem;
                }
            }
        }

        .footer_link{
            width: 1200px;
            margin: 0 auto;
            display: flex;
            padding: 5.7rem 0;

            article{
                flex: 1 1;
                margin-right: 3rem;

                &:nth-child(1){
                    // ddが２列になるように調整
                    flex-basis: 575px;
                }

                &:nth-child(2),
                &:nth-child(3){
                    flex-basis: 300px;
                }

                dl{
                    dt{
                        border-bottom: 1px dotted #666;
                        display: block;
    
                        &:nth-child(n + 2){
                            margin-top: 3rem;
                        }
    
                        a{
                            text-decoration: none;
                            list-style: none;
                            font-weight: 700;
                            color: #333;
                            font-size: 14px;
                        }
                    }
    
                    dd{
                        color:#020202;
                        // ddが２列になるように調整
                        margin: 0rem 0.5rem 0 0;
                        font-size: 1.3rem;
                        
                        @include clearfix();

                        ul{
                            list-style: none;
                            padding-left: 0;

                            &:nth-of-type(1){
                                float: left;
                            }
                            &:nth-of-type(2){
                                float: right;
                                // ddが２列になるように調整
                                width: 205px;
                            }

                            li{
                                a{
                                    text-decoration: none;
                                    color: #333;
                                }
                            }

                        }
                    }
                    
                }

                .share{
                    display: flex;
                    
                    .baika_ft_logo{
                        flex-basis: 45%;

                        img{
                            width: 181px;
                        }
                       
                    }

                    .sns{
                        padding-top: 0.7rem;

                        img{
                            width: 48px;
                            padding-right: 0.5rem;
                        }
                    }
                }
            }
        }

        .footer_btm{
            background: #000;
            padding: 6rem auto;


            .btm_width{
                width: 1200px;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                padding: 0.7rem 0;

                ul{
                    list-style: none;
                    display: flex;
                    width: 100%;
                    justify-content: space-around;
                    flex: 0 1 67%;
                    padding-left: 0;
                    font-size: 13px;
                    
                    li{
                        position: relative;

                        a{
                            
                            color: #fff;
                            text-decoration: none;
                            padding-right: 3rem;
                        }

                        // liから指定してあげないと認識できない
                        &:not(:last-child){
                            a{
                                border-right: 1px dotted #fff;

                                &::after{
                                    @include background_url('../images/blank_w.png', 10px, 13px, no-repeat);
                                    top: 0.5rem;
                                    right: 1.5rem;
                                }
                            }
                        }
                    }
                }

                p{
                    color: #fff;
                    font-size: 13px;
                }
            }
        }
    }
}